doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='https://unpkg.com/bulma@0.9.1/css/bulma.min.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/reporteLectura.css')
    title Reporte de lecturas
    

  body
    //Barra de navegacion
    nav.navbar(role='navigation' aria-label='main navigation')
      .navbar-brand
        b.navbar-item
          a.navbar-item(href='#' style = 'font-size:20px') #{usuario.nombreCompleto}
          //img(src='https://logodownload.org/wp-content/uploads/2021/07/dominos-pizza-logo-0.png' width='112' height='28')
        //a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navbarBasicExample.navbar-menu
        .navbar-start
          a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/main/'+usuario.IdUsuario)
            | Inicio
          form(action="", method="post") 
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link         
              | Reportes 
            .navbar-dropdown       
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/reporte-completo-MySQL/'+usuario.IdUsuario)
                | Reporte con lecturas completas                      
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/reporte/'+usuario.IdUsuario)
                | Reporte con leturas   
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/reporte-completo/'+usuario.IdUsuario)
                | Reporte con lecturas completas                   
              hr.navbar-divider  
                               
          a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/como-usarlo/'+usuario.IdUsuario)             
            | Como usarlo
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              | Mas
            .navbar-dropdown
              
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/about/'+usuario.IdUsuario)
                | Acerca de
              a.navbar-item(href='http://rhchiapas.herokuapp.com/' target="_blank")
                | Catalogo Centros de Costo
              //a.navbar-item
                | Contact
              hr.navbar-divider
              //a.navbar-item
                | Report an issue
        .navbar-end
          .navbar-item
            .buttons
              form(action="/login", method="GET") 
                button.button.is-primary
                  strong LogIn
              //a.button.is-light
                | LogIn


    section#app.hero.is-link.is-fullheight
        .hero-body
            
            table(id='tablaReporte')
                caption 100 Ultimas lecturas de Temperatura y Humedad
                thead
                    tr
                      //th(scope='col') Numero Fila
                      th(scope='col') Numero fila
                      th(scope='col') Tipo lectura
                      th(scope='col') Fecha
                      th(scope='col') Hora
                      th(scope='col') Temperatura
                      th(scope='col' ) Humedad
                tbody
                
                each dato in datos
                  tr 
                    if dato.IdTipoRegistro == 4
                      td(data-label='Numero fila' style="background-color:#96989A")= i++ 
                      td(data-label='Tipo de lectura' style="background-color:#96989A")= dato.descripcion
                      td(data-label='Fecha' style="background-color:#96989A")= dato.fecha
                      td(data-label='Hora' style="background-color:#96989A")= dato.hora
                      td(data-label='Temperatura' style="background-color:#96989A") ##.##
                      td(data-label='Humedad' style="background-color:#96989A") ##.##
                    else  
                      if dato.temperatura  <= 14.0
                        td(data-label='Numero fila' )= i++ 
                        td(data-label='Tipo de lectura')= dato.descripcion
                        td(data-label='Fecha')= dato.fecha
                        td(data-label='Hora')= dato.hora
                        td(data-label='Temperatura' style="color:#EEC508")= dato.temperatura
                        //td(data-label='Temperatura' )= dato.humedad
                        if (dato.humedad >= 40 && dato.humedad <= 60)
                          td(data-label='Humedad' style="color:#00F200")= dato.humedad                                                 
                        if (dato.humedad >= 25 && dato.humedad <= 39)                         
                          td(data-label='Humedad' style="color:orange")= dato.humedad                                 
                        if (dato.humedad >= 61 && dato.humedad <= 80) 
                          td(data-label='Humedad' style="color:orange")= dato.humedad                          
                        if (dato.humedad <= 24 || dato.humedad >= 81)                             
                          td(data-label='Humedad' style="color:RED")= dato.humedad              

                                      
                      if dato.temperatura >= 22.10 && dato.temperatura <= 25.0
                        td(data-label='Numero fila' )= i++ 
                        td(data-label='Tipo de lectura')= dato.descripcion
                        td(data-label='Fecha')= dato.fecha
                        td(data-label='Hora')= dato.hora
                        td(data-label='Temperatura' style="color:orange")= dato.temperatura
                        //td(data-label='Humedad')= dato.humedad 
                        if (dato.humedad >= 40 && dato.humedad <= 60)
                          td(data-label='Humedad' style="color:#00F200")= dato.humedad                                                 
                        if (dato.humedad >= 25 && dato.humedad <= 39)                         
                          td(data-label='Humedad' style="color:orange")= dato.humedad                                 
                        if (dato.humedad >= 61 && dato.humedad <= 80) 
                          td(data-label='Humedad' style="color:orange")= dato.humedad                          
                        if (dato.humedad <= 24 || dato.humedad >= 81)                             
                          td(data-label='Humedad' style="color:RED")= dato.humedad                          

                      if dato.temperatura >= 15 && dato.temperatura <= 22
                        td(data-label='Numero fila' )= i++ 
                        td(data-label='Tipo de lectura')= dato.descripcion
                        td(data-label='Fecha')= dato.fecha
                        td(data-label='Hora')= dato.hora
                        td(data-label='Temperatura' style="color:#00F200")= dato.temperatura
                        //td(data-label='Humedad')= dato.humedad    
                        if (dato.humedad >= 40 && dato.humedad <= 60)
                          td(data-label='Humedad' style="color:#00F200")= dato.humedad                                                 
                        if (dato.humedad >= 25 && dato.humedad <= 39)                         
                          td(data-label='Humedad' style="color:orange")= dato.humedad                                 
                        if (dato.humedad >= 61 && dato.humedad <= 80) 
                          td(data-label='Humedad' style="color:orange")= dato.humedad                          
                        if (dato.humedad <= 24 || dato.humedad >= 81)                             
                          td(data-label='Humedad' style="color:RED")= dato.humedad                          

                      if dato.temperatura >= 26                         
                        td(data-label='Numero fila' )= i++ 
                        td(data-label='Tipo de lectura')= dato.descripcion
                        td(data-label='Fecha')= dato.fecha
                        td(data-label='Hora')= dato.hora
                        td(data-label='Temperatura' style="color:RED")= dato.temperatura

                        if (dato.humedad >= 40 && dato.humedad <= 60)
                          td(data-label='Humedad' style="color:#00F200")= dato.humedad                                                 
                        if (dato.humedad >= 25 && dato.humedad <= 39)                         
                          td(data-label='Humedad' style="color:orange")= dato.humedad                                 
                        if (dato.humedad >= 61 && dato.humedad <= 80) 
                          td(data-label='Humedad' style="color:orange")= dato.humedad                          
                        if (dato.humedad <= 24 || dato.humedad >= 81)                             
                          td(data-label='Humedad' style="color:RED")= dato.humedad  

                                             